<%- partial("../partials/_common-head") %>

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../vendors/material-design-lite/material.min.css">

    <link rel="stylesheet" href="../styles/guides.css">
    </head>

    <body>
        <%- yield %>
        <script src="../vendors/material-design-lite/material.min.js"></script>
    </body>

    <script src="../vendors/prism.js"></script>

    </html>
