<footer>
    <div class="mdl-mega-footer--bottom-section">
        <p class="mdl-typography--font-light center"> Powered by <a href="http://www.vincentogloblinsky.com/" target="_blank">Vincent Ogloblinsky</a> ©2016-2017. Code licensed under an <a href="/license.html">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
    </div>
</footer>
