<footer>
    <div class="mdl-mega-footer--bottom-section">
        <p class="mdl-typography--font-light center badges">
            <a href="https://opencollective.com/compodoc#support"
                ><img
                    src="https://opencollective.com/compodoc/tiers/bronze-backer/badge.svg?label=Backers&color=brightgreen"
            /></a>
            <a href="https://opencollective.com/compodoc#support"
                ><img
                    src="https://opencollective.com/compodoc/tiers/bronze-one-shot-sponsor/badge.svg?label=Sponsors&color=brightgreen"
            /></a>
            <a href="https://github.com/compodoc/compodoc/actions"
                ><img
                    src="https://github.com/compodoc/compodoc/actions/workflows/main.yml/badge.svg"
                    alt="Build Status"
            /></a>
            <a href="https://codecov.io/gh/compodoc/compodoc"
                ><img
                    src="https://codecov.io/gh/compodoc/compodoc/branch/develop/graph/badge.svg"
                    alt="Codecov"
            /></a>
            <a href="https://www.npmjs.com/package/@compodoc/compodoc"
                ><img
                    src="https://badge.fury.io/js/%40compodoc%2Fcompodoc.svg"
                    alt="npm badge"
            /></a>
            <a href="http://opensource.org/licenses/MIT"
                ><img
                    src="http://img.shields.io/badge/license-MIT-brightgreen.svg"
                    alt="MIT badge"
            /></a>
        </p>
        <p class="mdl-typography--font-light center">
            Powered by
            <a href="http://www.vincentogloblinsky.com/" target="_blank"
                >Vincent Ogloblinsky</a
            >
            ©2016-2021. Code licensed under an
            <a href="https://github.com/compodoc/compodoc/blob/develop/LICENSE"
                >MIT-style License</a
            >. Documentation licensed under
            <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
        </p>
    </div>
</footer>
