<footer>
    <div class="mdl-mega-footer--bottom-section">
        <p class="mdl-typography--font-light center badges">
            <a href="https://opencollective.com/compodoc#support"><img src="https://opencollective.com/compodoc/tiers/bronze-backer/badge.svg?label=Backers&color=brightgreen" /></a>
            <a href="https://opencollective.com/compodoc#support"><img src="https://opencollective.com/compodoc/tiers/bronze-one-shot-sponsor/badge.svg?label=Sponsors&color=brightgreen" /></a>
            <a href="https://travis-ci.org/compodoc/compodoc"><img src="https://travis-ci.org/compodoc/compodoc.svg?branch=develop" alt="Build Status"></a>
            <a href="https://ci.appveyor.com/project/vogloblinsky/compodoc/branch/develop"><img src="https://ci.appveyor.com/api/projects/status/0wkundlfn3vs6r3m/branch/develop?svg=true" alt="Build Status"></a>
            <a href="https://codecov.io/gh/compodoc/compodoc"><img src="https://codecov.io/gh/compodoc/compodoc/branch/develop/graph/badge.svg" alt="Codecov"/></a>
            <a href="https://www.npmjs.com/package/@compodoc/compodoc"><img src="https://badge.fury.io/js/%40compodoc%2Fcompodoc.svg" alt="npm badge"></a>
            <a href="https://david-dm.org/compodoc/compodoc"><img src="https://david-dm.org/compodoc/compodoc.svg" alt="npm dependencies"></a>
            <a href="https://david-dm.org/compodoc/compodoc?type=dev"><img src="https://david-dm.org/compodoc/compodoc/dev-status.svg" alt="npm devDependencies"></a>
            <a href="http://opensource.org/licenses/MIT"><img src="http://img.shields.io/badge/license-MIT-brightgreen.svg" alt="MIT badge"></a>
        </p>
        <p class="mdl-typography--font-light center"> Powered by <a href="http://www.vincentogloblinsky.com/" target="_blank">Vincent Ogloblinsky</a> ©2016-2017. Code licensed under an <a href="/license.html">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
    </div>
</footer>
