@import 'theme';

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 0;
    width: 100%;
}

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    $header-logo-padding: 25px;
    padding-left: $header-logo-padding;
    padding-right: 0;
}

.mdl-layout__drawer {
    margin-top: 65px;
    height: calc(100% - 65px)
}

@media (max-width: 1024px) {
    .mdl-layout__drawer {
        margin-top:0;
        height: 100%
    }
}

.top-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    label {
        display: none;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

@media (max-width: 1024px) {
    .mdl-layout__drawer-button {
        display: inline-block;
    }
}

.mdl-navigation__link--title {
    margin-right: 10px;
    img {
        height: 56px;
    }
}

.mdl-navigation__link {
  $link-font-size: 16px;

  font-size: $link-font-size;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $secondary-color;
  }
}

.mdl-layout__header {
  background-color: $primary-color;

  a {
    color: $neutral-white;
    text-decoration: none;
  }
}

.mdl-layout__drawer-button {
    color: rgb(255,255,255);
    margin-top: 8px;
}


.mdl-layout__title,.mdl-layout-title {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em
}

.hero-background {
    background: -webkit-linear-gradient(#173c71,#1a4c94);
    background: linear-gradient(#173c71,#1a4c94);
    color: rgb(255,255,255);
    margin-bottom: 60px
}

.mdl-grid {
  align-items: center;
}

.mdl-grid--no-spacing>.mdl-cell {
    width: auto
}

.hero-background h4 {
    font-weight: 300;
    margin: 40px 0;
    padding-left: 48px
}

.page-content {
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 1024px) {
    .hero-background h4 {
        font-size:20px;
        margin: 10px 0 10px 30px;
        padding-left: 24px
    }
}

@media (max-width: 800px) {
    .top-nav-wrapper {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        label {
            $padding: 16px;
            cursor: pointer;
            display: block;
            float: right;
            line-height: 56px;
            padding: 0 $padding;
        }

        nav {
            background: $secondary-color;
            clear: both;
            display: none;
            height: auto !important;

            a {
                display: block;
            }
        }

        .mdl-layout-spacer {
            display: none;
        }
    }

    input:checked + .top-nav-wrapper {
        label {
            background: $secondary-color;
        }

        nav {
            display: block;
        }
    }
}
