@import 'theme';

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 0;
    width: 100%;
}

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    $header-logo-padding: 25px;
    padding-left: $header-logo-padding;
    padding-right: 0;
}

.mdl-layout__drawer {
    margin-top: 65px;
    height: calc(100% - 65px)
}

@media (max-width: 1024px) {
    .mdl-layout__drawer {
        margin-top:0;
        height: 100%
    }
}

.top-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    label {
        display: none;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

.selected {
    background-color: #E0E0E0;
    color: #235aaa!important;
    font-weight: 600
}

.mdl-layout__drawer .mdl-navigation__link {
    font-size: 13px;
}

.mdl-mega-footer--bottom-section,.mdl-mega-footer__bottom-section {
    background-color: $primary-color;
    bottom: 0;
    color: white;
    padding-top: 0;
    right: 0
}

.mdl-mega-footer--bottom-section p {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    margin: 0;
}

.mdl-mega-footer--bottom-section a {
    color: white;
}

.mdl-layout__drawer-button {
    display: none;
}

.mdl-layout__drawer .mdl-navigation {
    padding-top: 0
}

@media (max-width: 1024px) {
    .mdl-layout__drawer-button {
        display: inline-block;
    }
}

.mdl-navigation__link--title {
    margin-right: 10px;
    img {
        height: 56px;
    }
}

.mdl-navigation__link {
  $link-font-size: 16px;

  font-size: $link-font-size;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $secondary-color;
  }
}

.mdl-layout__header {
  background-color: $primary-color;

  a {
    color: $neutral-white;
    text-decoration: none;
  }
}

.mdl-layout__drawer-button {
    color: rgb(255,255,255);
    margin-top: 8px;
}

.mdl-layout__drawer>.mdl-layout-title {
    background-color: #ECEFF1;
    font-weight: 500;
    opacity: .87;
    text-transform: uppercase
}

.mdl-layout__title,.mdl-layout-title {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em
}

.hero-background {
    background: -webkit-linear-gradient(#1e4b8e,#2a6ccc);
    background: linear-gradient(#1e4b8e,#2a6ccc);
    color: rgb(255,255,255);
    margin-bottom: 60px
}

.mdl-grid {
  align-items: center;
}

.mdl-grid--no-spacing>.mdl-cell {
    width: auto
}

.hero-background h4 {
    font-weight: 300;
    margin: 40px 0;
    padding-left: 48px
}

.page-content {
    padding-left: 50px;
    padding-right: 50px;
}

.markdown-doc h1 {
    font-size: 24px;
    font-weight: 500;
    opacity: .87
}

.markdown-doc h2 {
    font-size: 18px;
    font-weight: 500;
    opacity: .87
}

.markdown-doc p {
    font-size: 16px;
    line-height: 30px;
    opacity: .87
}

.markdown-doc pre {
    background: #f5f6f7;
    border-left: 4px solid rgb(103,58,183);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 30px 40px;
    overflow-x: scroll
}

.markdown-doc pre,.markdown-doc code {
    overflow-x: scroll;
    background-color: #f5f6f7
}

.markdown-doc a {
    color: rgb(103,58,183);
    text-decoration: none
}

@media (max-width: 1024px) {
    .hero-background h4 {
        font-size:20px;
        margin: 10px 0 10px 30px;
        padding-left: 24px
    }

    .site-header {
        margin-left:32px
    }
}

@media (max-width: 800px) {
    .top-nav-wrapper {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        label {
            $padding: 16px;
            cursor: pointer;
            display: block;
            float: right;
            line-height: 56px;
            padding: 0 $padding;
        }

        nav {
            background: $secondary-color;
            clear: both;
            display: none;
            height: auto !important;

            a {
                display: block;
            }
        }

        .mdl-layout-spacer {
            display: none;
        }
    }

    input:checked + .top-nav-wrapper {
        label {
            background: $secondary-color;
        }

        nav {
            display: block;
        }
    }
}
