<header class="hero-background">
    <section class="section mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell">
            <h4 class="mt1 page-title"><%- title %></h4>
        </div>
    </section>
</header>
